<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="socket.io/socket.io.js"></script>
  <script src="js/jquery.js"></script>
  <script type="text/javascript" src="js/javascript.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <title>Simple Chat</title>
</head>

<body>
  <div class="container-fluid mg-pd">
    <div class="row">
      <div class="col-xs-2 col-xs-offset-2">
        <div id="login" class="form-group">
          <input type="text" id="name" class="form-control"><br>
          <input type="button" id='register' value="Register user name" class="btn btn-primary">
        </div>
      </div>
      <div class="col-xs-6" class="form-inline">
        <div id="content">
          <div id="anchor"></div>
        </div>
        <br>
        <br>
        <div id="chat">
          <input id="inputChat" class="form-control" type="text" onkeypress="uniCharCode(event)"
            placeholder="Type something ...">
          <br>
          <input id='bt' class="btn btn-primary" type="button" value="Click or Enter">
        </div>
      </div>
    </div>
  </div>

</body>

</html>